.notification{
    list-style: none;
    display: flex;
    justify-content: space-between;
    
    padding: 1.5em;
    border-radius: 10px;
    background-color: hsl(210, 60%, 98%);
    color:hsl(219, 12%, 42%);

    &_read{
        background-color: transparent;
    }
    &_read &__flag{
        display: none;
    }

    &__left-wrapper{
        display: flex;
        align-items: top;
        gap: 1.5em;
    }
    &__avatar{
        height: 50px;
        width: 50px;
    }
    &__text{
        display: flex;
        flex-direction: column;
        gap: .75em;
    }
    &__message{
        padding: 1em;
        background-color: #fff;
        border: 1px solid hsl(205, 33%, 90%);
        border-radius: 6px;
        &:hover{
            background-color: hsl(205, 33%, 90%);
            cursor: pointer;
        }
    }
    &__info{

        & > *{
            margin-right:.5em;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    &__img{
        width: 45px;
        img{
            width: 100%;
        }
    }
    &__username{
        font-weight: 800;
        color: hsl(224, 21%, 14%);
        &:hover{
            color:hsl(219, 85%, 26%);
            cursor: pointer;
        }
    }
    &__action{
    }
    &__subject{
        font-weight: 800;
        &:hover{
            color:hsl(219, 85%, 26%);
            cursor: pointer;
        }
    }

    &__flag{
        color: hsl(1, 90%, 64%);
        font-weight: 800;
        font-size: 16px;
    }
    &__time{

    }
}